@using System.Threading.Tasks
@using Hikkaba.Web.Utils
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.AudioViewModel

@{
    var fileSizeString = FileSizeStringifier.Stringify(@Model.Size);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}";
}

<li>
    <div>
        <p><a href="@await Component.InvokeAsync("StorageToUri", new {containerName = @Model.ThreadId.ToString(), blobName = @Model.Id.ToString()})" download="@Model.Id.ToString().@Model.FileExtension">@filePropertiesString</a></p>
        <audio src="@await Component.InvokeAsync("StorageToUri", new {containerName = @Model.ThreadId.ToString(), blobName = @Model.Id.ToString()})" controls="controls">
            Audio (@filePropertiesString)
        </audio>
    </div>
</li>