@using System.Threading.Tasks
@using Hikkaba.Common.Configuration
@using Hikkaba.Web.Utils
@using Microsoft.Extensions.Options
@model Hikkaba.Web.ViewModels.PostsViewModels.Attachments.PictureViewModel
@inject IOptions<HikkabaConfiguration> Settings

@{
    var fileSizeString = FileSizeStringifier.Stringify(@Model.Size);
    var filePropertiesString = $".{Model.FileExtension}, {fileSizeString}, {Model.Width}x{Model.Height}";
}

<li>
    <a href="@Url.Action("Get", "Attachments", new { containerName = Model.ThreadId.ToString(), blobName = Model.Id.ToString(), fileExtension = Model.FileExtension, getThumbnail = false })" target="_blank">
        <div>
            <p>@filePropertiesString</p>
            <img style="max-width: @(Settings.Value.ThumbnailsMaxWidth)px; max-height: @(Settings.Value.ThumbnailsMaxHeight)px" src="@Url.Action("Get", "Attachments", new { containerName = Model.ThreadId.ToString(), blobName = Model.Id.ToString(), fileExtension = Model.FileExtension, getThumbnail = true })" alt="Attached image (@filePropertiesString)" />
        </div>
    </a>
</li>