@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadDetailsViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>
                    <b>@Model.Title</b>
                    &nbsp;
                    @Model.PostCount posts 
                    &nbsp;
                    <time datetime="@Html.DisplayFor(model => model.Created)" class="timestamp time-localizable">@Html.DisplayFor(model => model.Created)</time> 
                    &nbsp;
                    <a href="@Url.Action("Details", "Threads", new {categoryAlias = Model.CategoryAlias, threadId = Model.Id})">@Model.Id</a>
                    @if (Model.IsPinned)
                    {
                        <span>&nbsp;</span>
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    }
                    @if (Model.IsClosed)
                    {
                        <span>&nbsp;</span>
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    }
                </h4>
                @Html.DisplayFor(model => model.Posts)
            </div>
        </div>
    </div>
</div>