@using Hikkaba.Web.Extensions
@model Hikkaba.Web.ViewModels.BansViewModels.BanViewModel

<tr class="@(Model.IsDeleted ? "deleted" : "")">
    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
    <td>@(Model.CategoryAlias == null ? "" : "/" + Model.CategoryAlias)</td>
    <td><a href="@(Model?.RelatedPostId == null ? "#" : Model.GetUri(Url))">@(Model?.RelatedPostId == null ? "" : Model.RelatedPostId.ToString())</a></td>
    <td>@Html.DisplayFor(model => model.BannedCidrLowerIpAddress)</td>
    <td>@Html.DisplayFor(model => model.BannedCidrUpperIpAddress)</td>
    <td>@Html.DisplayFor(model => model.Reason)</td>
    <td>@Html.DisplayFor(model => model.EndsAt)</td>
    <td>@Html.ActionLink("Edit", "Edit", new { banId = Model?.Id }) | @Html.ActionLink("Details", "Details", new { banId = Model?.Id })</td>
</tr>
