@using Hikkaba.Web.ViewModels
@using Hikkaba.Web.ViewModels.BansViewModels
@model Hikkaba.Web.ViewModels.BansViewModels.BanIndexViewModel
@{
    ViewData["Title"] = $"Bans";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
@Html.ActionLink("Create", "Create")
<hr />

<div class="row">
    <div class="col-md-12">
        @if ((Model.Bans.TotalItemsCount > 0) && (Model.Bans.CurrentPage.PageNumber > 0))
        {
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.Created)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.Category.Alias)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.LowerIpAddress)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.UpperIpAddress)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.Reason)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.Start)</th>
                    <th>@Html.DisplayNameForInnerType((BanDetailsViewModel ban) => ban.End)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(model => model.Bans.CurrentPageItems)
                </tbody>
            </table>
            <partial name="_PagerPartial" model="new PageInfoViewModel
                                           {
                                               CurrentPageNumber = Model.Bans.CurrentPage.PageNumber,
                                               TotalPageCount = Model.Bans.TotalPageCount,
                                           }"/>
        }
        else
        {
            <p class="text-center">There are no bans yet.</p>
        }
    </div>
</div>
