@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadEditViewModel
@{
    ViewData["Title"] = "Delete thread";
}

    <form asp-controller="Threads" asp-action="DeleteConfirmed" method="post" class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <input name="categoryAlias" type="hidden" value="@Model.CategoryAlias" />
        <input name="threadId" type="hidden" value="@Model.Id" />

        <p>@($"/{Model.CategoryAlias} - {Model.Title}")</p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Details", "Categories", new { categoryAlias = @Model.CategoryAlias })">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
