@using System.Threading.Tasks
@using Hikkaba.Common.Constants
@using Hikkaba.Common.Entities
@using Hikkaba.Service
@using Hikkaba.Web.ViewModels.SearchViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICategoryService CategoryService

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="lead">
                [@Html.ActionLink(Defaults.BoardName, "Index", "Home")]
                [
                @{
                    var categories = await CategoryService.ListAsync(category => !category.IsHidden && !category.IsDeleted, category => category.Alias);
                    foreach (var category in categories)
                    {
                        @("/")
                        <a href="@Url.Action("Details", "Categories", new {categoryAlias = category.Alias})">@category.Alias</a>
                    }
                }
                ]

                [
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="display-inline">
                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                        @("|")
                        <button type="submit" class="btn-link">Log off</button>
                    </form>
                }
                else
                {
                    @*<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        @("|")*@
                    <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                }
                ]
            </div>
        </div>
        <div class="col-md-4">
            @Html.Partial("_SearchPartial", new SearchRequestViewModel())
        </div>
    </div>
</div>