@model Hikkaba.Web.ViewModels.AdministrationViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Administration panel";
}

<h2 class="text-center m-3">
  @Html.RouteLink("Imageboard", "BoardEdit", new { id = Model.Board.Id }, new { @class = "decoration-on-hover" })
</h2>
<hr />

<h2 class="text-center m-3">
  @Html.RouteLink("Categories", "CategoryIndex", new {}, new { @class = "decoration-on-hover" })
</h2>
<hr />

<h2 class="text-center m-3">
  @Html.RouteLink("Users", "UserIndex", new {}, new { @class = "decoration-on-hover" })
</h2>
<hr />

<h2 class="text-center m-3">
  @Html.RouteLink("Bans", "BanIndex", new {}, new { @class = "decoration-on-hover" })
</h2>
<hr />

<h2 class="text-center m-3">@Html.DisplayNameFor(model => model.SystemInfo)</h2>
@Html.DisplayFor(model => model.SystemInfo)
