@using Hikkaba.Common.Constants
@using Hikkaba.Services
@using Hikkaba.Web.Services
@model Hikkaba.Web.ViewModels.PostsViewModels.PostDetailsViewModel
@inject IMessagePostProcessor MessagePostProcessor
@inject IThreadLocalUserHashGenerator ThreadLocalUserHashGenerator
@inject ICategoryToModeratorService CategoryToModeratorService

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title post-title">
                    @if (Model.ThreadShowThreadLocalUserHash)
                    {
                        @(ThreadLocalUserHashGenerator.Generate(Model.ThreadId.ToString(), Model.UserIpAddress))
                    }
                    else
                    {
                       @(Defaults.AnonymousUserName)
                    }
                    @if (Model.IsSageEnabled)
                    {
                        <b>&nbsp;SAGE</b>
                    }
                    <!-- todo: show post number here -->
                    <!-- todo: show modified date below if post was modified -->
                    &nbsp;
                    @Html.DisplayFor(model => model.Created)
                    &nbsp;
                    <a id="@Html.DisplayFor(model => model.Id)" class="post-title post-id-link" href="@Url.Action("Details", "Threads", new {categoryAlias = Model.CategoryAlias, threadId = Model.ThreadId})#@Model.Id">@Html.DisplayFor(model => model.Id)</a>
                </h3>
            </div>
            <div class="panel-body post-content">
                @if (await CategoryToModeratorService.IsUserCategoryModeratorAsync(Model.CategoryId, User))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group thread-moderation-panel" role="group">
                                <form asp-controller="Posts" asp-action="Edit" asp-route-categoryAlias="@Model.CategoryAlias" asp-route-threadId="@Model.ThreadId" asp-route-postId="@Model.Id" method="get" class="display-inline">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        @("Edit")
                                    </button>
                                </form>
                                <form asp-controller="Posts" asp-action="ToggleIsDeletedOption" method="post" class="display-inline">
                                    <input name="postId" type="hidden" value="@Model.Id"/>
                                    <button type="submit" class="btn btn-danger">
                                        @if (Model.IsDeleted)
                                        {
                                            <i class="fa fa-history" aria-hidden="true"></i>
                                            @("Restore")
                                        }
                                        else
                                        {
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            @("Delete")
                                        }
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Audio.Any()
                     || Model.Documents.Any()
                     || Model.Notices.Any()
                     || Model.Pictures.Any()
                     || Model.Video.Any())
                {
                    <ul class="list-inline">
                        @Html.DisplayFor(model => model.Audio)
                        @Html.DisplayFor(model => model.Documents)
                        @Html.DisplayFor(model => model.Notices)
                        @Html.DisplayFor(model => model.Pictures)
                        @Html.DisplayFor(model => model.Video)
                    </ul>
                }
                <span class="visible-line-breaks">@Html.Raw(MessagePostProcessor.Process(Model.CategoryAlias, Model.ThreadId, Model.Message))</span>
            </div>
            @if ((Model.Answers != null) && (Model.Answers.Any()))
            {
                <div class="panel-footer">
                    <ul class="list-inline">
                        @foreach (var answer in Model.Answers)
                        {
                            <li>
                                <a href="@Url.Action("Details", "Threads", new {categoryAlias = Model.CategoryAlias,threadId = Model.ThreadId})#@(answer.ToString())">&gt;&gt;@(answer.ToString())</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>