@model Hikkaba.Web.ViewModels.AdministrationViewModels.ApplicationUserViewModel

<tr>
    <td>@Model.Email</td>
    <td>@Model.UserName</td>
    <td>@Model.LastLoginAt</td>
    <td>
      @Html.RouteLink("Edit", "UserEdit", new { id = Model.Id }, new { @class = "decoration-on-hover" })
      | @Html.RouteLink("Delete", "UserDelete", new { id = Model.Id }, new { @class = "decoration-on-hover" })
    </td>
</tr>
