@using Hikkaba.Shared.Constants
@model Hikkaba.Web.ViewModels.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Start page";
}

<h1 class="text-center m-3">🔰 @Defaults.BoardName</h1>
<h2 class="text-center m-3">Welcome. Once again.</h2>

<hr/>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center m-3">What is @Defaults.BoardName?</h3>
        <p>@Defaults.BoardName is a simple image-based bulletin board where anyone can post comments and share images. There are boards dedicated to a variety of topics, from Japanese animation and culture to video games, music, and photography. Users do not need to register an account before participating in the community. Feel free to click on a board below that interests you and jump right in!</p>
    </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center m-3">@Html.DisplayNameFor(model => model.Categories)</h3>
    <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      @Html.DisplayFor(model => model.Categories)
    </ul>
  </div>
</div>

<hr />

<h3 class="text-center m-3">@Html.DisplayNameFor(model => model.Posts)</h3>

<div class="container">
    @for (var i = 0; i < Model.Posts.Data.Count; i++)
    {
      <div class="mt-2 mb-2">
        @Html.DisplayFor(m => m.Posts.Data[i])
      </div>
    }
</div>
