@using DNTCaptcha.Core
@using Hikkaba.Shared.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Hikkaba.Web.ViewModels.ThreadsViewModels.ThreadAnonymousCreateViewModel
@{
    var pageTitle = $"New thread in /{Model.CategoryAlias} - «{Model.CategoryName}»";
    ViewData["Title"] = pageTitle;
}

<div class="row">
  <div class="col-md-8 offset-md-1">
    <form asp-route="ThreadCreateConfirm" asp-route-categoryAlias="@Model.CategoryAlias" method="post" class="form-horizontal" enctype="multipart/form-data">
      <h4 class="m-3">
        @(pageTitle)
      </h4>

      <p class="ms-3">
        <a class="decoration-on-hover" href="@Url.RouteUrl("CategoryDetails", new { categoryAlias = Model.CategoryAlias })">
          <i class="fas fa-angle-left"></i> Back to category
        </a>
      </p>

      <hr />

      <div asp-validation-summary="All" class="text-danger"></div>

      <input asp-for="CategoryAlias" type="hidden" />
      <input asp-for="CategoryName" type="hidden" />

      <div class="mb-2 form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>

      <partial name="_MarkupPanelPartial" model="@nameof(Model.Message)"/>

      <div class="mb-2 form-group">
        <label asp-for="Message" class="form-label"></label>
        <textarea asp-for="Message" class="form-control" rows="5" maxlength="@(Defaults.MaxMessageLength)"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
      </div>

      <div class="mb-2 form-group">
        <label asp-for="Attachments" class="form-label"></label>
        <input asp-for="Attachments" class="form-control" type="file" multiple accept="@(Defaults.AllSupportedExtensionsWithDot)"/>
        <span asp-validation-for="Attachments" class="text-danger"></span>
      </div>

      <div class="mb-2 form-group">
        <label class="form-label">Security code</label>
        <dnt-captcha asp-captcha-generator-max="9000"
                     asp-captcha-generator-min="100"
                     asp-captcha-generator-language="English"
                     asp-captcha-generator-display-mode="ShowDigits"
                     asp-use-relative-urls="false"
                     asp-placeholder="Security code as a number"
                     asp-validation-error-message="Please enter the security code as a number."
                     asp-too-many-requests-error-message="Too many requests. Please wait a moment and try again."
                     asp-font-name="Tahoma"
                     asp-font-size="60"
                     asp-fore-color="black"
                     asp-back-color="#ccc"
                     asp-text-box-class="form-control"
                     asp-text-box-template="<div class='input-group mt-1'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                     asp-validation-message-class="text-danger"
                     asp-refresh-button-class="bi-arrow-counterclockwise btn btn-lg"
                     asp-show-refresh-button="true"
                     asp-dir="ltr"
        />
      </div>

      <button type="submit" class="btn btn-primary btn-lg mt-2">Create</button>
    </form>
  </div>
</div>
