@using Hikkaba.Shared.Constants
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - @Defaults.BoardName</title>
  <link href="~/favicon.ico" rel="icon" />

  <!-- https://github.com/VahidN/DNTCaptcha.Core/blob/master/src/DNTCaptcha.TestWebApp/Views/Shared/_Layout.cshtml -->
  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true"/>
  <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true"/>

  <!-- https://getdatepicker.com/6/installing.html -->
  <link href="~/lib/tempus-dominus/dist/css/tempus-dominus.min.css" rel="stylesheet" asp-append-version="true"/>

  <!-- https://docs.fontawesome.com/v5/web/setup/host-font-awesome-yourself#using-web-fonts-with-css -->
  <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true"/>

  <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
<partial name="_NavbarPartial"/>
<div class="container body-content">
  <partial name="_ErrorMessagePartial"/>
  @RenderBody()
  <hr/>
  <footer>
    <p class="text-center">&copy; @DateTime.UtcNow.Year - @Defaults.BoardName</p>
  </footer>
</div>

<!-- https://github.com/VahidN/DNTCaptcha.Core/blob/master/src/DNTCaptcha.TestWebApp/Views/Shared/_Layout.cshtml -->
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>

<!-- https://getdatepicker.com/6/installing.html -->
<script src="~/lib/popperjs/dist/umd/popper.min.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/tempus-dominus/dist/js/tempus-dominus.min.js" type="text/javascript" asp-append-version="true"></script>

<!-- https://momentjs.com/docs/#/use-it/ -->
<script src="~/lib/moment/min/moment.min.js" type="text/javascript" asp-append-version="true"></script>

<script src="~/js/site.min.js" type="text/javascript" asp-append-version="true"></script>

@await RenderSectionAsync("scripts", required: false)
</body>
</html>
