@model string

<div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="BBCodes">
    <button type="button" class="btn btn-outline-dark" title="Bold" onclick="insertTag('@(Model)', 'm-bold')">
      <i class="bi bi-type-bold"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Cursive" onclick="insertTag('@(Model)', 'm-italic')">
      <i class="bi bi-type-italic"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Underline" onclick="insertTag('@(Model)', 'm-underline')">
      <i class="bi bi-type-underline"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Strikeout" onclick="insertTag('@(Model)', 'm-strikeout')">
      <i class="bi bi-type-strikethrough"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Quote" onclick="insertTag('@(Model)', 'm-quote')">
      <i class="bi bi-chevron-right"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Spoiler" onclick="insertTag('@(Model)', 'm-spoiler')">
      <i class="bi bi-square-fill"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Code" onclick="insertTag('@(Model)', 'm-code')">
      <i class="bi bi-code-slash"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Subscript" onclick="insertTag('@(Model)', 'm-subscript')">
      <i class="bi bi-subscript"></i>
    </button>
    <button type="button" class="btn btn-outline-dark" title="Superscript" onclick="insertTag('@(Model)', 'm-superscript')">
      <i class="bi bi-superscript"></i>
    </button>
  </div>
</div>
