@using Hikkaba.Application.Contracts
@using Hikkaba.Shared.Constants
@using Hikkaba.Data.Entities
@using Hikkaba.Infrastructure.Models.Category
@using Hikkaba.Web.ViewModels.SearchViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject ICategoryService CategoryService

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span style="font-size: 21px" class="h5">
              [<a class="decoration-on-hover" href="@Url.Action("Index", "Home")">@Defaults.BoardName</a>]
                [
                @{
                    var categories = await CategoryService.ListCategoriesAsync(new CategoryFilter { OrderBy = [nameof(Category.Alias)] }, Context.RequestAborted);
                    for (var index = 0; index < categories.Count; index++)
                    {
                      var category = categories[index];
                      @if (index > 0)
                      {
                        @(" / ")
                      }
                      @Html.RouteLink(category.Alias, "CategoryDetails", new { categoryAlias = category.Alias }, new { @class = "decoration-on-hover" })
                    }
                }
                ]

                [
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="decoration-on-hover" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                    @if (User.IsInRole(Defaults.AdministratorRoleName))
                    {
                        @("|")
                        <a class="decoration-on-hover" asp-route="AdminDashboard" title="Administration">Administration</a>
                    }
                    @("|")
                    <form class="display-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-link button-link-inline p-0 align-baseline link-primary decoration-on-hover">Logout</button>
                    </form>
                }
                else
                {
                    <a class="decoration-on-hover" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    @("|")
                    <a class="decoration-on-hover" asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
                ]
            </span>
        </div>
        <div class="col-md-4">
            <partial name="_SearchPartial" model="@(new SearchRequestViewModel { Query = string.Empty })" />
        </div>
    </div>
</div>
