@using Hikkaba.Application.Contracts
@using Hikkaba.Shared.Constants
@using Hikkaba.Data.Entities
@using Hikkaba.Infrastructure.Models.Category
@using Hikkaba.Web.ViewModels.SearchViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICategoryService CategoryService

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="lead">
                [@Html.ActionLink(Defaults.BoardName, "Index", "Home")]
                [
                @{
                    var categories = await CategoryService.ListAsync(new CategoryFilter { OrderBy = [nameof(Category.Alias)] });
                    for (var index = 0; index < categories.Count; index++)
                    {
                      var category = categories[index];
                      @if (index > 0)
                      {
                        @("/")
                      }
                      <a href="@Url.Action("Details", "Categories", new { categoryAlias = category.Alias })">@category.Alias</a>
                    }
                }
                ]

                [
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                    @if (User.IsInRole(Defaults.AdministratorRoleName))
                    {
                        @("|")
                        <a class="nav-link text-dark" asp-action="Index" asp-controller="Administration" title="Administration">Administration</a>
                    }
                    @("|")
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn-link text-dark">Logout</button>
                    </form>
                }
                else
                {
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    @("|")
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
                ]
            </div>
        </div>
        <div class="col-md-4">
            <partial name="_SearchPartial" model="@(new SearchRequestViewModel { Query = string.Empty })" />
        </div>
    </div>
</div>
