@using Hikkaba.Application.Contracts
@using Hikkaba.Data.Entities
@using Hikkaba.Infrastructure.Models.Category
@using Hikkaba.Infrastructure.Models.Configuration
@using Hikkaba.Web.ViewModels.SearchViewModels
@using Microsoft.Extensions.Options
@inject ICategoryService CategoryService
@inject IOptions<HikkabaConfiguration> HikkabaConfiguration

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span style="font-size: 21px" class="h5">
              [<a class="decoration-on-hover" href="@Url.Action("Index", "Home")">@HikkabaConfiguration.Value.BoardName</a>]
                [
                @{
                    var categories = await CategoryService.ListCategoriesAsync(new CategoryFilter { OrderBy = [nameof(Category.Alias)] }, Context.RequestAborted);
                    for (var index = 0; index < categories.Count; index++)
                    {
                      var category = categories[index];
                      @if (index > 0)
                      {
                        @(" / ")
                      }
                      @Html.RouteLink(category.Alias, "CategoryDetails", new { categoryAlias = category.Alias }, new { @class = "decoration-on-hover" })
                    }
                }
                ]
            </span>
        </div>
        <div class="col-md-4">
            <partial name="_SearchPartial" model="@(new SearchRequestViewModel { Query = string.Empty })" />
        </div>
    </div>
</div>
