@model Hikkaba.Web.ViewModels.BansViewModels.BanViewModel

<tr class="@(Model.IsDeleted ? "deleted" : "")">
    <td>@(Model?.Category?.Alias == null ? "" : "/" + Model.Category.Alias)</td>
    <td>@Model.LowerIpAddress</td>
    <td>@Model.UpperIpAddress</td>
    <td>@Model.Reason</td>
    <td>@Model.Start</td>
    <td>@Model.End</td>
    <td>@Html.ActionLink("Edit", "Edit", new { banId = Model.Id })</td>
</tr>